{{! This is the post loop - each post will be output using this markup }} {{#foreach posts}}
<article class="{{post_class}}" data-target="{{url}}">
    <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    <section class="post-excerpt">
        <a href="{{url}}">
            <p>{{excerpt words="60"}}<a class="read-more" href="{{url}}"> &raquo;</a></p>
        </a>
    </section>
    <section class="post-meta">
        {{#if tags}}
        <span class="dot"></span>
        <span class="post-tags-loop">
            {{#foreach tags}}
              <a href="{{url}}" title="{{name}}" class="tag-{{id}}">#{{name}}</a>
            {{/foreach}}
        </span> {{/if}}
    </section>
</article>
{{/foreach}} {{! Previous/next page links - displayed on every page }} {{pagination}}